In [12]:
student={
    'name':'ram',
    'age':22,
    'marks': 85,
    'address':['ktm','pkr']
    
}
print(student)
print(type(student))
print(student.keys())
print(student.values())
print(student.items()) #total in the dictonaries

{'name': 'ram', 'age': 22, 'marks': 85, 'address': ['ktm', 'pkr']}
<class 'dict'>
dict_keys(['name', 'age', 'marks', 'address'])
dict_values(['ram', 22, 85, ['ktm', 'pkr']])
dict_items([('name', 'ram'), ('age', 22), ('marks', 85), ('address', ['ktm', 'pkr'])])

In [17]:
for i in student.values(): #studet's its values 
    print(i)

ram
22
85
['ktm', 'pkr']

In [20]:
for keys,values in student.items():
    print(f"Key is {keys} and value is {values}")

Key is name and value is ram
Key is age and value is 22
Key is marks and value is 85
Key is address and value is ['ktm', 'pkr']

In [21]:
#print name 
print(student['name'])

ram

In [22]:
#update name
student['name']='shyam'
print(student)

{'name': 'shyam', 'age': 22, 'marks': 85, 'address': ['ktm', 'pkr']}

In [23]:
print(student['address'])

['ktm', 'pkr']

In [28]:
print(student['address'][0])

ktm

In [36]:
student['address'].insert(1,'Thailand')
print(student)

{'name': 'shyam', 'age': 22, 'marks': 85, 'address': ['ktm', 'Thailand', 'Thailand', 'pkr']}

In [37]:
student['address'].pop(0)
print(student)

{'name': 'shyam', 'age': 22, 'marks': 85, 'address': ['Thailand', 'Thailand', 'pkr']}

In [41]:
if 'Thailand' in student['address']:
    print('Thailand is here')
    print(student['address'].count('Thailand'))

Thailand is here
2

In [44]:
if 'Thailand' in student['address']:
    print('Thailand is here')
    print(student['address'].remove('Thailand'))
    print(student)

Thailand is here
None
{'name': 'shyam', 'age': 22, 'marks': 85, 'address': ['pkr']}

In [45]:
if 'Thailand' in student['address']:
    print('Thailand is here')
    print(student['address'].count('Thailand'))
    print(student)

In [47]:
student['address'].insert(1,'Thailand')
print(student)

{'name': 'shyam', 'age': 22, 'marks': 85, 'address': ['pkr', 'Thailand', 'Thailand']}

In [48]:
if 'Thailand' in student['address']:
    print('Thailand is here')
    print(student['address'].remove('Thailand'))
    print(student)

Thailand is here
None
{'name': 'shyam', 'age': 22, 'marks': 85, 'address': ['pkr', 'Thailand']}

In [50]:
for i in student.values():
    print(i,type(i))

shyam <class 'str'>
22 <class 'int'>
85 <class 'int'>
['pkr', 'Thailand'] <class 'list'>

In [58]:
l1 = ['Thailand','Thailand','Bali','Ktm']
print(l1)
a = l1.pop()
print(l1)
print(a)
     
# enumerate counts

['Thailand', 'Thailand', 'Bali', 'Ktm']
['Thailand', 'Thailand', 'Bali']
Ktm

In [61]:
def addition(a,b):
    c = a+b 
#     print(c)
    return c
    
addition(22,33)

55

In [62]:
res = addition(22,33)
print(f"Sum is : {res}")

Sum is : 55

In [65]:
def fun1(*args):
    print(args)
    
fun1(1,2,3,4,5)

(1, 2, 3, 4, 5)